body {
  font-family: Arial;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

button {
  margin: 5px;
  padding: 10px;
}

#battleLog {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  height: 100px;
}

#battleArea {
  display: flex;
  width: 400px;
  height: 40px;
  border: 2px solid black;
}

#leftSide {
  background: blue;
  width: 50%;
}

#rightSide {
  background: red;
  width: 50%;
}